.records_explorer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  padding: 32px;
}

.record {
  border: var(--main-border);
  border-radius: var(--border-radius);
  padding: 32px;
  min-height: 280px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}

.record:hover {
  background-color: var(--highlight-color4);
  cursor: pointer;
}

.record_content {
  margin-bottom: 16px;
}

.record_created_at {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 20px;
  color: #999999;
}

.tags {
  margin-bottom: 24px;
}

.reminder {
  display: flex;
  align-items: center;
}

.reminder:not(:last-child) {
  margin-bottom: 24px;
}

.reminderIcon {
  margin-right: 16px;
}
