{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
    // "eslint-plugin-import",
    // "eslint-plugin-jsx-a11y",
    // "eslint-plugin-react",
    // "eslint-plugin-react-hooks"
  ],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
