@import 'normalize.css';

:root {
  --main-bg-color: #24262b;
  --main-border-color: #828282;
  --main-font-color: #ffe1c6;
  --common-border: 1px solid var(--main-border-color);
}

* {
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
}

.aside {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  border-right: var(--common-border);
}

.content {
  padding: 32px;
  border-right: var(--common-border);
}

.details {
  padding: 32px;
}
