.app {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Roboto Mono', monospace;
  font-size: var(--normal-font-size);
  line-height: 20px;
  color: var(--foreground-color2);
  background-color: var(--background-color3);
}

.aside {
  display: grid;
  grid-template-columns: minmax(var(--button-size), 1fr) 9fr;
  grid-template-rows: 1fr;
  border-right: var(--main-border);
}

.content {
  padding: var(--big-offset);
  border-right: var(--main-border);
}

.details {
  padding: var(--big-offset);
}

.aside__navigation {
  border-right: var(--main-border);
}

.textarea {
  height: 50%;
}
