.draft_editor {
  resize: none;
  width: 100%;
  padding: var(--big-offset);
  color: var(--foreground-color2);
  background-color: transparent;
  border: var(--main-border);
}

.draft_editor:hover {
  border-color: #999999;
}

.draft_editor:focus {
  border: 1px solid #f3a549;
}
