.textarea {
  margin-bottom: var(--normal-offset);
}

.select {
  margin-right: var(--normal-offset);
}

.buttons {
  display: flex;
  margin-bottom: var(--normal-offset);
}

.reminder_button {
  background-color: transparent;
  padding: 12px;
  border: 1px solid var(--border-color2);
}

.save_button {
  width: 100%;
}

.tags,
.reminders {
  display: flex;
  flex-wrap: wrap;
}

.tag,
.reminder {
  margin-bottom: 16px;
  margin-right: 16px;
}

.close_icon {
  margin-left: 8px;
}

.header {
  width: 100%;
  padding: 14px 32px;
  background: #313235;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

.body {
  padding: 32px;
}
