.badge {
  display: inline-flex;
  align-items: center;
  padding: 6px;
  border-radius: 4px;
  color: var(--info-color2);
  background-color: var(--info-color4);
}

.badge:not(:last-child) {
  margin-right: 16px;
}

.badge:hover {
  cursor: pointer;
}

.close_icon {
  margin-left: 8px;
}

.icon {
  margin-right: 16px;
}
