:root {
  --navigator-width: 82px;
}

.navigator {
  height: 100%;
  border-right: 1px solid var(--border-color);
}

.nav_button {
  border-width: 0 0 1px 0;
}

.active_tab {
  /* TODO */
}

/* TODO */
/* .nav_button:last-child {
  border-bottom-width: 0;
} */
