.tags_browser {
  padding: var(--big-offset);
}

.tag {
  margin-top: 24px;
}
.tag:first-child {
  margin-top: 0;
}
.tag:hover {
  cursor: pointer;
}
.tag > .tag {
  margin-top: 24px;
  padding-left: 40px;
}

.added_tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.new_tag {
  display: inline-flex;
  align-items: center;
  color: #30b2ea;
}

.new_tag:hover {
  cursor: pointer;
}

.plus_icon {
  margin-right: 16px;
}
